@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table th, .table td {
     border-top: 0px!important; 
}
</style>
<script>
    function btnToggle(){

    }
</script>

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-graph text-success"></i>
                    </div>
                    <div>
                        Customer Portal
                    </div>
                </div>

            </div>
        </div>
        <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
            <li class="nav-item">
                <a role="tab" class="nav-link active" id="tab-0" data-toggle="tab" href="#tab-content-0">
                    <span>List View</span>
                </a>
            </li>
            <li class="nav-item">
                <a role="tab" class="nav-link" id="tab-1" data-toggle="tab" href="#tab-content-1">
                    <span>Status View</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">Scs Records</h5>
                        <form class="">
                            <ejs-grid id="Grid" dataSource="@ViewBag.DataSource" allowPaging="true" allowSorting="true" allowFiltering="true"
                                      toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update" })">
                                <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Normal"></e-grid-editSettings>
                                <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
                                <e-grid-columns>
                                    <e-grid-column field="MasterScsId" hidden headerText="Order ID" textAlign="Right" width="0"></e-grid-column>
                                    <e-grid-column field="Category" headerText="Category" width="100"></e-grid-column>
                                    <e-grid-column field="SubCategory" headerText="Sub Category" width="100"></e-grid-column>
                                    <e-grid-column field="ProductName" headerText="Product Name" width="150"></e-grid-column>
                                </e-grid-columns>
                            </ejs-grid>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane tabs-animation fade" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="main-card mb-3 card" style="background-color: transparent;box-shadow: none;">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="mb-0 table">
                                        <tbody>
                                            <tr>
                                            <td>
                                            <div class="main-card mb-3 card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Simple</h5>
                                                    <div id="exampleAccordion" data-children=".item">
                                                        <div class="item">
                                                            <button type="button" onclick="btnToggle()" aria-expanded="false" aria-controls="exampleAccordion1" data-toggle="collapse" href="#collapseExample" class="m-0 p-0 btn btn-link collapsed">
                                                                Toggle item
                                                            </button>
                                                            <div data-parent="#exampleAccordion" id="collapseExample" class="collapse" style="">
                                                                <p class="mb-3">
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                                                                    pretium lorem non vestibulum scelerisque. Proin a
                                                                    vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis
                                                                    ornare.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <button type="button" aria-expanded="false" aria-controls="exampleAccordion2" data-toggle="collapse" href="#collapseExample2" class="m-0 p-0 btn btn-link collapsed">
                                                                Toggle item 2
                                                            </button>
                                                            <div data-parent="#exampleAccordion" id="collapseExample2" class="collapse" style="">
                                                                <p class="mb-3">
                                                                    Donec at ipsum dignissim, rutrum turpis scelerisque, tristique
                                                                    lectus. Pellentesque habitant morbi tristique senectus
                                                                    et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci
                                                                    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                                                    mus.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </td>
                                            <td>
                                            <div class="main-card mb-3 card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Simple</h5>
                                                    <div id="exampleAccordion" data-children=".item">
                                                        <div class="item">
                                                            <button type="button" aria-expanded="false" aria-controls="exampleAccordion1" data-toggle="collapse" href="#collapseExample3" class="m-0 p-0 btn btn-link collapsed">
                                                                Toggle item
                                                            </button>
                                                            <div data-parent="#exampleAccordion" id="collapseExample3" class="collapse" style="">
                                                                <p class="mb-3">
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                                                                    pretium lorem non vestibulum scelerisque. Proin a
                                                                    vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis
                                                                    ornare.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <button type="button" aria-expanded="false" aria-controls="exampleAccordion2" data-toggle="collapse" href="#collapseExample4" class="m-0 p-0 btn btn-link collapsed">
                                                                Toggle item 2
                                                            </button>
                                                            <div data-parent="#exampleAccordion" id="collapseExample4" class="collapse" style="">
                                                                <p class="mb-3">
                                                                    Donec at ipsum dignissim, rutrum turpis scelerisque, tristique
                                                                    lectus. Pellentesque habitant morbi tristique senectus
                                                                    et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci
                                                                    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                                                    mus.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </td>
                                            <td>
                                            <div class="main-card mb-3 card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Simple</h5>
                                                    <div id="exampleAccordion" data-children=".item">
                                                        <div class="item">
                                                            <button type="button" aria-expanded="false" aria-controls="exampleAccordion1" data-toggle="collapse" href="#collapseExample5" class="m-0 p-0 btn btn-link collapsed">
                                                                Toggle item
                                                            </button>
                                                            <div data-parent="#exampleAccordion" id="collapseExample5" class="collapse" style="">
                                                                <p class="mb-3">
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                                                                    pretium lorem non vestibulum scelerisque. Proin a
                                                                    vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis
                                                                    ornare.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <button type="button" aria-expanded="false" aria-controls="exampleAccordion2" data-toggle="collapse" href="#collapseExample6" class="m-0 p-0 btn btn-link collapsed">
                                                                Toggle item 2
                                                            </button>
                                                            <div data-parent="#exampleAccordion" id="collapseExample6" class="collapse" style="">
                                                                <p class="mb-3">
                                                                    Donec at ipsum dignissim, rutrum turpis scelerisque, tristique
                                                                    lectus. Pellentesque habitant morbi tristique senectus
                                                                    et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci
                                                                    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                                                    mus.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </td>
                                            <td>
                                            <div class="main-card mb-3 card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Simple</h5>
                                                    <div id="exampleAccordion" data-children=".item">
                                                        <div class="item">
                                                            <button type="button" aria-expanded="false" aria-controls="exampleAccordion1" data-toggle="collapse" href="#collapseExample7" class="m-0 p-0 btn btn-link collapsed">
                                                                Toggle item
                                                            </button>
                                                            <div data-parent="#exampleAccordion" id="collapseExample7" class="collapse" style="">
                                                                <p class="mb-3">
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                                                                    pretium lorem non vestibulum scelerisque. Proin a
                                                                    vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis
                                                                    ornare.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <button type="button" aria-expanded="false" aria-controls="exampleAccordion2" data-toggle="collapse" href="#collapseExample8" class="m-0 p-0 btn btn-link collapsed">
                                                                Toggle item 2
                                                            </button>
                                                            <div data-parent="#exampleAccordion" id="collapseExample8" class="collapse" style="">
                                                                <p class="mb-3">
                                                                    Donec at ipsum dignissim, rutrum turpis scelerisque, tristique
                                                                    lectus. Pellentesque habitant morbi tristique senectus
                                                                    et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci
                                                                    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                                                    mus.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </td>
                                            <td>
                                            <div class="main-card mb-3 card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Simple</h5>
                                                    <div id="exampleAccordion" data-children=".item">
                                                        <div class="item">
                                                            <button type="button" aria-expanded="false" aria-controls="exampleAccordion1" data-toggle="collapse" href="#collapseExample9" class="m-0 p-0 btn btn-link collapsed">
                                                                Toggle item
                                                            </button>
                                                            <div data-parent="#exampleAccordion" id="collapseExample9" class="collapse" style="">
                                                                <p class="mb-3">
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                                                                    pretium lorem non vestibulum scelerisque. Proin a
                                                                    vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis
                                                                    ornare.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <button type="button" aria-expanded="false" aria-controls="exampleAccordion2" data-toggle="collapse" href="#collapseExample10" class="m-0 p-0 btn btn-link collapsed">
                                                                Toggle item 2
                                                            </button>
                                                            <div data-parent="#exampleAccordion" id="collapseExample10" class="collapse" style="">
                                                                <p class="mb-3">
                                                                    Donec at ipsum dignissim, rutrum turpis scelerisque, tristique
                                                                    lectus. Pellentesque habitant morbi tristique senectus
                                                                    et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci
                                                                    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                                                    mus.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </td>
                                            <td>
                                            <div class="main-card mb-3 card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Simple</h5>
                                                    <div id="exampleAccordion" data-children=".item">
                                                        <div class="item">
                                                            <button type="button" aria-expanded="false" aria-controls="exampleAccordion1" data-toggle="collapse" href="#collapseExample11" class="m-0 p-0 btn btn-link collapsed">
                                                                Toggle item
                                                            </button>
                                                            <div data-parent="#exampleAccordion" id="collapseExample11" class="collapse" style="">
                                                                <p class="mb-3">
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                                                                    pretium lorem non vestibulum scelerisque. Proin a
                                                                    vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis
                                                                    ornare.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <button type="button" aria-expanded="false" aria-controls="exampleAccordion2" data-toggle="collapse" href="#collapseExample12" class="m-0 p-0 btn btn-link collapsed">
                                                                Toggle item 2
                                                            </button>
                                                            <div data-parent="#exampleAccordion" id="collapseExample12" class="collapse" style="">
                                                                <p class="mb-3">
                                                                    Donec at ipsum dignissim, rutrum turpis scelerisque, tristique
                                                                    lectus. Pellentesque habitant morbi tristique senectus
                                                                    et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci
                                                                    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                                                    mus.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </td>
                                            <td>
                                            <div class="main-card mb-3 card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Simple</h5>
                                                    <div id="exampleAccordion" data-children=".item">
                                                        <div class="item">
                                                            <button type="button" aria-expanded="false" aria-controls="exampleAccordion1" data-toggle="collapse" href="#collapseExample13" class="m-0 p-0 btn btn-link collapsed">
                                                                Toggle item
                                                            </button>
                                                            <div data-parent="#exampleAccordion" id="collapseExample13" class="collapse" style="">
                                                                <p class="mb-3">
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                                                                    pretium lorem non vestibulum scelerisque. Proin a
                                                                    vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis
                                                                    ornare.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <button type="button" aria-expanded="false" aria-controls="exampleAccordion2" data-toggle="collapse" href="#collapseExample14" class="m-0 p-0 btn btn-link collapsed">
                                                                Toggle item 2
                                                            </button>
                                                            <div data-parent="#exampleAccordion" id="collapseExample14" class="collapse" style="">
                                                                <p class="mb-3">
                                                                    Donec at ipsum dignissim, rutrum turpis scelerisque, tristique
                                                                    lectus. Pellentesque habitant morbi tristique senectus
                                                                    et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci
                                                                    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                                                    mus.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </td>
                                            <td>
                                            <div class="main-card mb-3 card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Simple</h5>
                                                    <div id="exampleAccordion" data-children=".item">
                                                        <div class="item">
                                                            <button type="button" aria-expanded="false" aria-controls="exampleAccordion1" data-toggle="collapse" href="#collapseExample15" class="m-0 p-0 btn btn-link collapsed">
                                                                Toggle item
                                                            </button>
                                                            <div data-parent="#exampleAccordion" id="collapseExample15" class="collapse" style="">
                                                                <p class="mb-3">
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                                                                    pretium lorem non vestibulum scelerisque. Proin a
                                                                    vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis
                                                                    ornare.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <button type="button" aria-expanded="false" aria-controls="exampleAccordion2" data-toggle="collapse" href="#collapseExample16" class="m-0 p-0 btn btn-link collapsed">
                                                                Toggle item 2
                                                            </button>
                                                            <div data-parent="#exampleAccordion" id="collapseExample16" class="collapse" style="">
                                                                <p class="mb-3">
                                                                    Donec at ipsum dignissim, rutrum turpis scelerisque, tristique
                                                                    lectus. Pellentesque habitant morbi tristique senectus
                                                                    et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci
                                                                    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                                                    mus.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </td>
                                            <td>
                                            <div class="main-card mb-3 card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Simple</h5>
                                                    <div id="exampleAccordion" data-children=".item">
                                                        <div class="item">
                                                            <button type="button" aria-expanded="false" aria-controls="exampleAccordion1" data-toggle="collapse" href="#collapseExample17" class="m-0 p-0 btn btn-link collapsed">
                                                                Toggle item
                                                            </button>
                                                            <div data-parent="#exampleAccordion" id="collapseExample17" class="collapse" style="">
                                                                <p class="mb-3">
                                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                                                                    pretium lorem non vestibulum scelerisque. Proin a
                                                                    vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis
                                                                    ornare.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="item">
                                                            <button type="button" aria-expanded="false" aria-controls="exampleAccordion2" data-toggle="collapse" href="#collapseExample18" class="m-0 p-0 btn btn-link collapsed">
                                                                Toggle item 2
                                                            </button>
                                                            <div data-parent="#exampleAccordion" id="collapseExample18" class="collapse" style="">
                                                                <p class="mb-3">
                                                                    Donec at ipsum dignissim, rutrum turpis scelerisque, tristique
                                                                    lectus. Pellentesque habitant morbi tristique senectus
                                                                    et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci
                                                                    varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                                                    mus.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>