@{
    ViewData["Title"] = "ReadFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .mainBlock {
        background: #fff;
        margin-top: 10px;
        border-radius: 5px;
        padding: 5px;
        box-shadow: 0 0 3px #ddd;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s;
        position: relative;
    }
        .mainBlock a {
            height: 100%;
            width: 100%;
            border: none;
            background: none;
            border: 1px solid #fff;
            color: #fff;
            padding: 5px;
            text-decoration: none;
        }
</style>

<div class="app-main__outer">
    <div class="app-main__inner">
 <div class="col">
            <div class="col-3 mainBlock text-center bg-primary">
                <a asp-controller="Home"
                   asp-action="ReadFile">Read Google Sheets</a>
            </div>
        </div>
    </div>
</div>

