@model MasterGenerator.Model.Model.PermissionModel
@{
    ViewData["Title"] = "UserPermission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-graph text-success"></i>
                    </div>
                    <div>
                        User Permissions
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade active show" id="tab-content-1" role="tabpanel">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">User Permissions</h5>
                        <form asp-action="UserPermission">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="position-relative row form-group">
                                <label asp-for="UserId" class="col-sm-2 col-form-label">User</label>
                                <div class="col-sm-10">
                                    <select asp-for="UserId" required class="form-control">
                                        <option disabled selected value=""> --Select User --</option>
                                        @if (ViewBag.user != null)
                                        {
                                            @foreach (var user in ViewBag.user)
                                            {
                                                <option value="@user.Id"> @user.FirstName </option>
                                            }
                                        }
                                    </select>
                                    <span asp-validation-for="UserId" class="text-danger"></span>
                                </div>
                                
                            </div>
                            <div class="col-sm-12">
                        <table class="table table-bordered">
                            <tr>
                                <th>Fields</th>
                                <th>Grant Permission</th>
                            </tr> 
                            <tr>
                                <td>Project Id</td>
                                <td><input asp-for="ProjectId" type="checkbox" checked/></td>
                            </tr>
                            <tr>
                                <td>Customer Name</td>
                                <td><input asp-for="CustomerName" type="checkbox" checked/></td>
                            </tr>
                            <tr>
                                <td>Project Name</td>
                                <td><input asp-for="ProjectName" type="checkbox" checked/></td>
                            </tr>
                            <tr>
                                <td>PO Number</td>
                                <td><input asp-for="PONumber" type="checkbox" checked/></td>
                            </tr>
                            <tr>
                                <td>PO Date</td>
                                <td><input asp-for="PODate" type="checkbox" checked/></td>
                            </tr>
                            <tr>
                                <td>Total Quantity</td>
                                <td><input asp-for="TotalQuantity" type="checkbox" checked/></td>
                            </tr>
                            <tr>
                                <td>Currency</td>
                                <td><input asp-for="Currency"type="checkbox" checked/></td>
                            </tr>
                            <tr>
                                <td>PO Amount</td>
                                <td><input asp-for="POAmount" type="checkbox" checked/></td>
                            </tr>
                            <tr>
                                <td>CSS tatus</td>
                                <td><input asp-for="CSStatus" type="checkbox" checked/></td>
                            </tr>
                            <tr>
                                <td>Display Status</td>
                                <td><input asp-for="DisplayStatus" type="checkbox" checked/></td>
                            </tr>
                            <tr>
                                <td>Shipment Method</td>
                                <td><input asp-for="ShipmentMethod" type="checkbox" checked/></td>
                            </tr>
                            <tr>
                                <td>Production Completion</td>
                                <td><input asp-for="ProductionCompletion"type="checkbox" checked/></td>
                            </tr>
                            <tr>
                                <td>Vessel ETA</td>
                                <td><input asp-for="VesselETA" type="checkbox" checked/></td>
                            </tr>
                            <tr>
                                <td>Vessel ETD</td>
                                <td><input asp-for="VesselETD" type="checkbox" checked/></td>
                            </tr>
                            <tr>
                                <td>Estimated Delivery Date</td>
                                <td><input asp-for="EstimatedDeliveryDate" type="checkbox" checked/></td>
                            </tr>
                            <tr>
                                <td>Actual Delivery Date</td>
                                <td><input asp-for="ActualDeliveryDate" type="checkbox" checked/></td>
                            </tr>
                            <tr>
                                <td>Pre Production Manager</td>
                                <td><input asp-for="PreProductionManager" type="checkbox" checked/></td>
                            </tr>
                            <tr>
                                <td>OnTime Status</td>
                                <td><input asp-for="OnTimeStatus" type="checkbox" checked/></td>
                            </tr>
                        </table>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button type='submit' class="btn btn-primary mr-3">Save</button>
                                </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
       <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h5 class="card-title">User Records</h5>
                        <form class="">
                            <ejs-grid id="Grid" width="860"  AllowSelection="true" ShowColumnChooser="false" allowPaging="true" allowSorting="true" allowFiltering="true" 
                                      toolbar="@(new List<string>() { "Edit", "Cancel", "Update", })" class="add">
                                <e-grid-editSettings allowAdding="false" allowDeleting="true" allowEditing="true" mode="Normal" showDeleteConfirmDialog="true"></e-grid-editSettings>
                                <e-grid-pagesettings pageSizes="@(new string[] { "20", "50", "100" , "All" })"></e-grid-pagesettings>
                                <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
                                <e-data-manager url="/Admin/UrlVisibleFieldDataSource" crudUrl="/Admin/CrudUpdateVisibleField" adaptor="UrlAdaptor" ></e-data-manager>
                                <e-grid-columns>
                                    <e-grid-column id="" field="UserId" isPrimaryKey="true" headerText="User Id"  width="110"></e-grid-column>
                                    <e-grid-column id="" field="ProjectId" headerText="Project Id" displayAsCheckBox="true" editType="booleanedit" type="boolean"  width="120"></e-grid-column>
                                    <e-grid-column field="CustomerName" headerText="Customer Name" displayAsCheckBox="true" editType="booleanedit" type="boolean"  width="160"></e-grid-column>
                                    <e-grid-column field="ProjectName" headerText="Project Name" displayAsCheckBox="true" editType="booleanedit" type="boolean" width="160"></e-grid-column>
                                    <e-grid-column field="PONumber" headerText="PO Number" displayAsCheckBox="true" editType="booleanedit" type="boolean" width="130"></e-grid-column>
                                    <e-grid-column field="PODate" headerText="PO Date" displayAsCheckBox="true" editType="booleanedit" type="boolean" width="120"></e-grid-column>
                                    <e-grid-column field="TotalQuantity" headerText="Total Quantity" displayAsCheckBox="true" editType="booleanedit" type="boolean" width="150"></e-grid-column>
                                    <e-grid-column field="Currency" headerText="Currency" displayAsCheckBox="true" editType="booleanedit" type="boolean" width="120"></e-grid-column>
                                    <e-grid-column field="POAmount" headerText="PO Amount" displayAsCheckBox="true" editType="booleanedit" type="boolean" width="130"></e-grid-column>
                                    <e-grid-column field="CSStatus" headerText="CS Status" displayAsCheckBox="true" editType="booleanedit" type="boolean" width="130"></e-grid-column>
                                    <e-grid-column field="DisplayStatus" headerText="Display Status" displayAsCheckBox="true" editType="booleanedit" type="boolean" width="140"></e-grid-column>
                                    <e-grid-column field="ShipmentMethod" headerText="Shipment Method" displayAsCheckBox="true" editType="booleanedit" type="boolean" width="180"></e-grid-column>
                                    <e-grid-column field="ProductionCompletion" headerText="Production Completion" displayAsCheckBox="true" editType="booleanedit" type="boolean" width="200"></e-grid-column>
                                    <e-grid-column field="VesselETA" headerText="Vessel ETA" displayAsCheckBox="true" editType="booleanedit" type="boolean" width="130"></e-grid-column>
                                    <e-grid-column field="VesselETD" headerText="Vessel ETD" displayAsCheckBox="true" editType="booleanedit" type="boolean" width="130"></e-grid-column>
                                    <e-grid-column field="EstimatedDeliveryDate" headerText="Estimated Delivery Date" displayAsCheckBox="true" editType="booleanedit" type="boolean" width="210"></e-grid-column>
                                    <e-grid-column field="ActualDeliveryDate" headerText="Actual Delivery Date" displayAsCheckBox="true" editType="booleanedit" type="boolean" width="200"></e-grid-column>
                                    <e-grid-column field="PreProductionManager" headerText="Pre Production Manager" displayAsCheckBox="true" editType="booleanedit" type="boolean" width="210"></e-grid-column>
                                    <e-grid-column field="OnTimeStatus" headerText="On Time Status" displayAsCheckBox="true" editType="booleanedit" type="boolean" width="160"></e-grid-column>
                                </e-grid-columns>
                            </ejs-grid>
                        </form>
                    </div>
                </div>

            </div>
    </div>
</div>


