body {
}
.app-main {
    flex: 1;
    display: flex;
    z-index: 8;
    position: relative;
    background: #fff;
}
    .table th, .table td {
    border-top: 0px !important;
    padding: 0.55rem;
    vertical-align: top;
}

.item {
    width: 150px;
}

p {
    margin-top: 0;
    margin-bottom: 2px;
}
[class*=" pe-7s-"] {
    display: inline-block;
    font-family: 'Pe-icon-7-stroke';
    speak: none;
    font-style: normal;
    font-weight: bold;
    font-size: x-large;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
*, *::before, *::after {
    box-sizing:  unset;
}
.hilite{
    display:block;
}

.card-body_status {
    flex: 1 1 auto;
    padding: 0px;
    padding-left: 0.6rem;
}
.refresh_li {
    margin-left: 300px;
}
@media (max-width: 767.98px) {
    .refresh_li {
        margin-left: 0px;
    }
}
.a_Refresh {
    position: relative;
    padding: 0.65rem;
}
.loader_wrap {
    background: rgba(0,0,0,.0);
    margin-top:200px;
}
